.icon {
    font-size: 10px;
}

.icon:before {
    content:' ';
    vertical-align:middle;
    display: inline-block;
    background-image: url("../svg/sprite.svg");
    background-repeat: no-repeat;
    background-size: 51.2em 421.6em;
}

.no-svg .icon:before {
    background-image: url("../svg/sprite.png");
}



  .icon.account:before {
      background-position: 0em 0em;
      width: 9.383700000000001em;
      height: 3em;
  }




  .icon.account-key:before {
      background-position: 0em -3em;
      width: 5.7725em;
      height: 10.3056em;
  }




  .icon.apple:before {
      background-position: 0em -13.4em;
      width: 18.8835em;
      height: 20.949199999999998em;
  }




  .icon.arrow-down:before {
      background-position: 0em -34.4em;
      width: 47.621300000000005em;
      height: 47.621300000000005em;
  }




  .icon.arrow-left:before {
      background-position: 0em -82.1em;
      width: 47.621300000000005em;
      height: 47.621300000000005em;
  }




  .icon.arrow-right:before {
      background-position: 0em -129.8em;
      width: 47.621300000000005em;
      height: 47.621300000000005em;
  }




  .icon.arrow-top:before {
      background-position: 0em -177.5em;
      width: 47.621300000000005em;
      height: 47.621300000000005em;
  }




  .icon.cart:before {
      background-position: 0em -225.2em;
      width: 3em;
      height: 9.839em;
  }




  .icon.cart-full:before {
      background-position: 0em -235.1em;
      width: 19.1356em;
      height: 19.1356em;
  }




  .icon.close:before {
      background-position: 0em -254.3em;
      width: 6.8514em;
      height: 6.8515em;
  }




  .icon.close-round:before {
      background-position: 0em -261.2em;
      width: 5.2em;
      height: 5.2em;
  }




  .icon.mail:before {
      background-position: 0em -266.4em;
      width: 19.3217em;
      height: 21.1846em;
  }




  .icon.menu:before {
      background-position: 0em -287.6em;
      width: 6.3652999999999995em;
      height: 1.1em;
  }




  .icon.minus:before {
      background-position: 0em -288.7em;
      width: 4.2em;
      height: 4.2em;
  }




  .icon.phone:before {
      background-position: 0em -292.9em;
      width: 9.4489em;
      height: 9.4861em;
  }




  .icon.plus:before {
      background-position: 0em -302.4em;
      width: 4.2em;
      height: 4.2em;
  }




  .icon.soc-facebook:before {
      background-position: 0em -306.6em;
      width: 51.2em;
      height: 51.2em;
  }




  .icon.soc-ok:before {
      background-position: 0em -357.8em;
      width: 9.5481em;
      height: 9.5481em;
  }




  .icon.soc-vk:before {
      background-position: 0em -367.4em;
      width: 51.2em;
      height: 51.2em;
  }




  .icon.uzor:before {
      background-position: 0em -418.6em;
      width: 8.7134em;
      height: 2.9791em;
  }





