@import 'rupture'
@import "variable/_function.styl"
@import "variable/_ie.styl"
@import "icon/sprite.css"
@import "variable/_helper.styl"
@import "variable/_default.styl"
@import "variable/_elements.styl"
@import "variable/_constant.styl"
//@import "variable/_grid.styl"

rupture.scale = 0 480px 768px 992px 1200px
rupture.scale-names = 'xs' 'sm' 'md' 'lg'

// Grid breakpoints
$breakpoints = {
	'xs' :  0,
	'sm' : 480px,
	'md' : 768px,
	'lg' : 992px,
	'xl' : 1200px
}

// Number of columns
$columns = 12

init($breakpoints, $columns)

body
	+below(768px)
		//padding-top: 58px
	@extend .type--main
	font-family $v-font
	color $main-text-color
	line-height 1.2
	letter-spacing 0.01em
	width: 100%

.main-cont
	center(1200px,10px)

.page
	+below(1024px)
		fw()
		fl()
		padding-top: 58px
	display flex
	min-height 100vh

.content
	+below(1024px)
		width: 100%
	flex-grow: 1
	flex-shrink: 1
	flex-basis: 0%
	width: calc(100% - 300px - 95px)
	max-width 1440px
	overflow hidden
	position: relative

.main-page
	width: 100%

.main-page__first-section
	f()
	fw()


.main-page__first-section-about
	+below(768px)
		width: 100%
	width: 50%

//.main-page__first-section-slider
	//height: 100vh
.main-page__first-section-info
	+below(768px)
		width: 100%
		f()
		fw()
		fl()
	width: 50%
	.item-block
		+below(768px)
			order 2
			width: 100%
		height: 50vh
		min-height 300px
		order 1
	.item-slider
		+below(768px)
			order 1
		order 2
.main-page__first-section-slider__el
	+below(768px)
		height 100vh
		min-height 450px
	position: relative
	bg-full()
	width: 100%
	min-height 600px
	height: 100vh

.filter
	width: 100%
	height: 100%
	position: absolute
	top 0
	left: 0
	background: rgba(0, 0, 0, 0.15)

.item-block
	position: relative
	bg-full()

.item-block__name
	+below(1280px)
		font-size: 20px
	font-size: 24px
	color white
	margin-bottom: 10px
	font-family Oswald

.item-block__cost
	opacity 0.7
	color #ffffff
	@extend .type--main

.item-block__info
	z-index 5
	position: absolute
	top 10%
	left: 8%

.line-title-wrap
	text-align: center
	flex(mid)

.line-title
	+below(768px)
		font-size: 16px
	font-family "Marck Script"
	font-size 18px
	font-weight 400
	color $red
	margin: 0 10px
.line-title-el
	width: 10px
	height: 1px
	background: $red

.item-slider__nav
	f()
	position: absolute
	right: 8%
	bottom: 10%

.item-slider
	flex(mid)
	height: 50vh
	position: relative
	min-height 300px
	.item-slider__nav-prev,
	.item-slider__nav-next
		round()
		flex(mid)
		cp()
		tr(all)
		border 1px solid $gray
		size 40px
		&:hover
			border 1px solid #614f4a
			.slider-control
				fill  #614f4a
		.slider-control
			tr(all)
			size 20px
			fill  $gray
	.line-title-wrap
		position: absolute
		top 10%
		width: 100%

.item-slider__nav-prev
	margin-right: 10px

.item-slider__link
	@extend .type--main
	position: absolute
	left: 8%
	bottom 10%
	color $link-color

.item-slider__wrap
	width: 60%

.item-slider_title
	+below(1280px)
		font-size: 22px
	@extend .type--lg
	font-weight 300
	text-align: center
	margin-bottom: 20px

.item-slider_text
	+below(1280px)
		font-size: 12px
	@extend .type--main
	color #463e3c
	text-align: center
//.item-block

.main-page__second-section
	f()
	fw()
	.item-slider
		+below(768px)
			width: 100%
		width: 50%
	.item-block
		+below(768px)
			width: 100%
			min-height 300px
		width: 50%

.restorans
	+below(768px)
		padding: 40px 0
	bg-full()
	flex(mid)
	padding: 80px 0
.restorans-wrap
	+below(1280px)
		width: 80%
	+below(768px)
		width: 95%
	width: 60%
	padding: 20px
	background: white

.restorans-cont
	border 1px solid #cebbb4
	padding: 25px
	padding-bottom: 50px

.restorans-title
	margin-bottom: 25px

.restorans-row
	+below(768px)
		fw()
	flex(mid)
	.restorans-btn
		+below(768px)
			padding: 10px
			width: 100%
			text-align: center
		&:nth-child(1)
			+below(768px)
				margin-right: 0
				margin-bottom: 20px
			margin-right: 20px

.module
	+below(768px)
		max-height 800px
		overflow-y auto
		height calc(100vh + 60px)
	position: absolute
	top: 0
	left: 0
	width: 100%
	height: 100vh
	//background: rgba(0, 0, 0, 0.62)
	z-index 220
	transform translateX(100%)
	f()
	justify-content: flex-end



.fix-scroll
	position: fixed
	overflow-y:scroll


.module--open
	transform translateX(0%)

.content-filter
	position: absolute
	top 0
	left: 0
	width: 100%
	height: 100%
	background: rgba(0, 0, 0, 0.5)
	z-index 20
	visibility: hidden
	transition all 1s
	opacity 0

.content-filter--open
	visibility: visible
	opacity 1


.toolbar-enter-icon--close
	display: none

.toolbar-enter.get-module--active
	background: $red
	.toolbar-enter-icon--close
		display: block
		.icon
			fill white!important
			size 40px
	.toolbar-enter-icon--open
		display: none

.incr
	+below(768px)
		margin-bottom: 20px
	f()
	justify-content: space-between
	position relative
	width 100px
.incr__nav
	flex(mid)
	tr(background )
	round()
	size 30px
	border 1px solid #dddddd
	background white
	.icon
		size 12px
		fill #b3b3b3
	&:hover
		cp()
		background-color $green
		border 0
		.icon
			fill white
	&:active
		background-color $red
.incr__val
	flex(mid)
	background white
	position relative
	tr(all)
	color #757575
	font-family Lato
	@extend .type--main
	font-weight 400



@keyframes bounceIn {
	from {
			transform: scale3d(1, 1, 1);
	}

	50% {
			transform: scale3d(1.05, 1.05, 1.05);
	}
	to {
			transform: scale3d(1, 1, 1);
	}
	//
	//from {
  //  opacity: 0;
  //  transform: translate3d(0, -100%, 0);
  //}
	//
  //to {
  //  opacity: 1;
  //  transform: none;
  //}
}

.bounceIn
	animation-name: bounceIn

.animate-basket
	animation: bounceIn 0.3s 2 ease-in-out

.news-wrap
	f()
	align-items: stretch
	fw()

.news-el
	+below(1280px)
		width: calc(100% / 2 + 1px)
	+below(640px)
		width: 100%
	width: calc(100% / 3 + 1px)
	margin-left: -1px
	border:1px solid $gray
	border-top:0
	cp()
	&:hover
		.news__img-el
			transform scale(1.2)

.news__img
	height: 260px
	overflow: hidden
.news__img-el
	width: 100%
	height: 100%
	transition all 1.5s
	bg-full()

.news__info
	padding: 30px
	padding-bottom: 45px
	height: 100%
	.line-title-wrap
		margin-bottom: 30px

//.news__date

.news__title
	+below(1024px)
		font-size: 20px
		width: 100%
		text-align: center
	+below(768px)
		font-size: 18px
	font-family Oswald
	font-size 24px
	font-weight 300
	width: 55%
	margin-bottom: 20px
	color black

.news__text
	@extend .type--main
	font-weight 400
	line-height 1.4
	color #463e3c


//.catalog
.catalog-title
	@extend .type--xl
	text-align: center
	font-family Oswald
	padding: 35px
	font-weight 300

.catalog-wrap
	f()
	fw()
	align-items: stretch

.el
	+below(1600px)
		width: calc(100% / 3 + 1px)
		flex-grow 1
	+below(768px)
		width: calc(50% + 1px)
	+below(640px)
		width: 100%
	flex(mid)
	fl()
	width: calc(20% + 1px)
	border 1px solid $gray
	padding: 25px
	margin-left: -1px
	margin-top: -1px
	position: relative
	&:hover
		.el__img
			+below(768px)
				height: 100px
			height: 0
		.el__incr
			display: block

.el__img
	//tr(all)
	width: 100%
	height: 100px

.el__img-el
	bg-full()
	width: 100%
	height: 100%
	background-size: contain
	margin-bottom: 20px

.el__title
	cp()
	font-family Oswald
	font-size 24px
	font-weight 300
	margin-bottom: 20px
	z-index 2

.el__text
	+below(768px)
		margin-bottom: 20px
	cp()
	text-align: center
	width: 80%
	margin-bottom: 40px

.el__info
	flex(mid)
//.el__weight

.el__devider
	width: 1px
	height: 20px
	background: gray
	margin:0 10px

.el__cost
	color $red

.el__incr
	+below(1024px)
		display: block
		margin-top: 10px
	margin-top: 40px
	display: none

.el--active
	border 0px
	&:before
		content: ''
		position: absolute
		width: 100%
		height: 100%
		top 0
		left: 0
		border 2px solid $green

.el-big
	+below(1600px)
		width:100%
	@extend .el
	flex(between)
	width: calc(40% + 1px)
	padding-bottom: 0
	.el__img
		margin-top: 0

.el-big__content
	flex(mid)
	fl()
	z-index 1


.el-big__img
	+below(768px)
		height: 100px
	//tr(all)
	width: 100%
	height: 200px
	margin-top: 20px

.el-big__img-el
	bg-full()
	width: 100%
	height: 100%
	background-size: contain
	margin-bottom: 20px
	background-position: center bottom

.el-big__title
	font-family Oswald
	font-size 24px
	font-weight 300
	margin-bottom: 20px
	&:hover
		cursor pointer!important

.el-big__text
	text-align: center
	width: 80%
	margin-bottom: 20px
	&:hover
		cursor pointer

.el-big__info
	flex(mid)
//.el-big__weight

.el-big__devider
	width: 1px
	height: 20px
	background: gray
	margin:0 10px

.el-big__cost
	color $red

.el-big__incr
	margin-top: 20px

.el-big__recom
	margin-bottom: 20px
//
//.nice-select
//	br(0)
//	margin-bottom: 20px
//	display: block
//	color #000000
//	font-size 14px
//	font-weight 700
//	.list
//		width: calc(100% )
//		left 0px
//		br(0)
//		border 0px solid $gray
//
//		border-top 0
//		margin-top: 0
//
//select.select-beauty
//	display: none!important
//
//.element-select
//	padding: 20px 0
//
//.nice-select:active, .nice-select.open, .nice-select:focus
//	border 1px solid $gray
.select2-container
	width 100%!important
.select2-selection__arrow
	flex(mid)
	tr(all)
.select2-container--open
	.select2-selection__arrow
		transform rotate(180deg)
.select2-results__option
	padding 10px

.select2-container .select2-selection--single
	height: auto
	padding: 10px
	outline none
	border 1px solid $gray

.select2-container--default .select2-selection--single .select2-selection__arrow
	right: 12px
	top 12px

.select2-dropdown
	border 1px solid $gray

.select2-container--default .select2-results__option--highlighted[aria-selected]
	background: $green

.icon-select-arrow
	fill $green
	size 15px

.pay-type
	flex(between)
	margin-bottom: 5%
.pay-type__el
	width: 30%

.tab
	flex(between)
	margin-bottom: 5%
.tab__el
	width: 50%
	padding: 20px
	cp()
	text-align: center
	background: white
	color $green
	border 1px solid $green
	font-size: 16px

.tab__el--active
	color white
	background: $green
	border 1px solid $green

.tab__cont
	margin-bottom: 5%
	height: auto
	tr(all)
.tab__cont--hide
	display: none

.person
	flex(between)
	margin-bottom: 5%

.block-overflow
	max-height 1000px
	overflow-y auto

.module-order
	@extend .block-overflow
	textarea
		width: 100%
		margin-bottom: 3%

.module-cart
	@extend .block-overflow

.order-get
	flex(mid)

.confirm
	margin-bottom: 5%
	.style-label
		f()
		justify-content: space-between
		align-items: flex-start
		.sytle-input-text
			width: 90%

.order-get__el
	@extend .btn--md
	@extend .btn--green

.modal-layer
	width: 100%
	height: 100vh
	position: fixed
	z-index 1000
	top 0
	left 0
	visibility: hidden
	transition all 1s // duration for fade
	opacity 0

.modal-layer-show
	visibility: visible
	opacity 1

.modal-cont
	flex(mid)
	width: 100%
	height: 100%
	position: relative

.modal-filter
	position: absolute
	top: 0
	left: 0
	background: rgba(0, 0, 0, 0.6)
	width: 100%
	height: 100%


.modal
	+below(768px)
		width: 300px
	background: white
	position: relative
	width: 400px
	display: none

.modal__show
	display: block


/*.modal-close
	position: absolute
	top: 30px
	right: 30px
	cp()
	.icon
		size 24px
		fill rgba(0, 0, 0, 0.42)*/

.modal-open
	overflow-x: hidden
	overflow-y: scroll
	position: fixed
	top: 0
	left: 0
	right: 0
	bottom: 0
	width: 100%


.modal-content
	+below(768px)
		padding: 25px
		padding-top: 0
	flex(mid)
	fl()
	padding 45px
	padding-top: 0px
	text-align: center

.modal-icon-head
	margin-bottom: 10px
	transform translateY(-10px)
	.icon
		size 80px

.modal-title
	font-family Oswald
	@extend .type--lg
	font-weight 300
	margin-bottom: 30px

.modal-text
	margin-bottom: 30px
	@extend .type--main

.modal-btn
	@extend .btn--md
	@extend .btn--green

.content-frame
	f()
	fw()
	height: 100%

.content-frame__col
	+below(768px)
		width: 100%
		height auto
	width: 50%
	height: 100vh

.item-info__image
	+below(768px)
		height: 50vh
		min-height 300px
	bg-full()
	width: 100%
	height: 100%

.descript__col--description
	+below(768px)
		padding: 20px
		max-height initial!important
		padding-bottom: 80px
	@extend .block-overflow
	padding: 100px 5% 30px 5%
.item-info__content
	position: relative
	.veksel
		+below(768px)
			margin: 15px 0
		margin: 30px 0
	.item-info__incr
		display: none
		margin-bottom: 10%

.item-info__title
	@extend .type--xl
	font-family Oswald
	font-weight:300
	text-align: center

//.icon
.item-info__text
	@extend .type--main
	font-weight 400
	text-align: center
	line-height:1.6
	margin-bottom: 30px
	p
		text-align: left

.el__info
	+below(1024px)
		margin-bottom: 30px
	font-family Oswald
	@extend .type--lg
	margin-bottom: 5%
//.el__weight
//.el__devider
//.el__cost
.item-info__get
	+below(768px)
		padding: 20px
		font-size: 14px
		mt20px
	@extend .btn--md
	@extend .btn--green
	margin-bottom: 10%
//.item-info__incr
//.elements-icr-block
//.incr
//.incr__minus
//.incr__nav
//.incr__val
//.incr__val-coner
//.incr__plus
//.soc-row
//.soc-row__el
//.soc-row__el--vk
//.soc-row__el--fb
//.soc-row__el--ok

.descript__cont
	+below(768px)
		fw()
		height: auto
	f()
	height: 100%
	width: 100%

.module-descript.module__cont
	width: 100%
	padding: 0

.descript__col
	+below(768px)
		width: 100%
		background: white
	height: 100%
	width: 50%
	position: relative

.item-info__content-close
	+below(768px)
		position: fixed
		top 0
		right: 0
		size 40px
		flex(mid)
		background: $red
	position: absolute
	top 5%
	right: 5%
	cp()
	z-index 5
	.icon
		tr(all)
		size 30px
		fill $gray
		&:hover
			fill black


.mCSB_container
	margin-right: 0

.mCSB_scrollTools
	display: none!important

.descript__col--item-description
	+below(768px)
		padding-bottom: 60px
	.item-info__content
		padding: 15%
		height: 100%
		flex(mid)
		fl()

.menu-info-cont
	+below(1280px)
		padding: 10%
	height: 100%
	padding: 15%
	width: 100%
	.veksel
		+below(1280px)
			margin-bottom: 2vh
		margin-top: 10px
		margin-bottom: 10vh

.menu-title
	text-align: center
	font-family Oswald
	@extend .type--lg
	font-weight 300



.menu-info-wrap
	flex(between)
	fw()

.menu-info__el
	+below(1280px)
		font-size: 12px
	margin-bottom: 2vh
	width: 48%
	color $link-color
	@extend .type--main

.descript__col--recomend
	background: #e5e1e0

.menu-recommed
	flex(mid)
	fl()
	width: 60%
	margin: 0 auto
	height: 100%
	.el__info
		margin-bottom: 20px

.menu-recommed__title
	font-family Oswald
	@extend .type--lg
	margin: 20px 0

.menu-recommed__text
	text-align: center
	margin-bottom: 20px

.menu-recommed__img
	round()
	padding: 30%
	bg-full()

.user
	+below(768px)
		padding: 40px 0
		min-height 300px
	background-image: url('../img/pattern.png')
	height: 100%
	position: relative
	flex(mid)
	fl()

.user-filter
	position: absolute
	top 0
	left: 0
	background: rgba(104, 186, 165, 0.74)
	width: 100%
	height: 100%

.user-info
	+below(768px)
		margin-top: 0
		margin-bottom: 40px
	margin-top: 5vh
	margin-bottom: 15vh
	z-index 1
	width: 100%
	flex(mid)
	fl()

.user__avatar
	+below(768px)
		padding 20%
	padding: 12%
	bg-full()
	round()
	box-shadow: 0 8px 0 rgba(0, 0, 0, 0.12);
	margin-bottom: 5%

.user__name
	@extend .type--xl
	font-family Oswald
	color white
	margin-bottom: 10px
//.user__name

.user-contact
	+below(768px)
		text-align: center
		padding-left: 0
		flex(mid)
		fl()
	width: 100%
	z-index 1
	color white
	padding-left: 10%

.user__phone
	@extend .type--md
	font-weight 600
	color white
	margin-bottom: 20px

.user__adress
	width: 200px
	@extend .type--main
	line-height: 1.6

.info-block
	+below(768px)
		max-height initial
	padding: 10%
	height: 100%
	@extend .block-overflow
	.veksel
		margin: 20px 0

.info-block__title
	@extend .type--xl
	font-family Oswald
	font-weight:300
	text-align: center

.user-order
	margin-bottom: 6vh


.user-order__status
	flex(between)
	@extend .type--md
	margin-bottom: 5vh
	font-weight 600
//.user-order__date

.user-order__info
	color $green

.user-order__repeat
	@extend .type--main
	color $link-color
	text-align: right
	font-weight:400
	cp()


.user-order__info--orange
	color #ebab7c

.user__row-title,.user__row-dot,.user__row-value
	display table-cell

.user__row-title, .user__row-value
	white-space nowrap

.user__row-dot
	border-bottom 1px dashed #eaeaea
	width 100%

.user__row
	display: table
	margin-bottom: 10px


.book-order__info--orange
	color #ebab7c

.book__row-title,.book__row-dot,.book__row-value
	display table-cell

.book__row-title, .book__row-value
	white-space nowrap

.book__row-dot
	border-bottom 1px dashed #eaeaea
	width 100%

.book__row
	display: table
	margin-bottom: 10px

.user__row-title
	padding-right: 10px

.user__row-value
	@extend .type--main


//.delivery
.delivery-time
	margin-bottom: 5px
	font-family Oswald
	@extend .type--lg
	span
		display: inline-block
		margin-right: 20px

.delivery-time__text
	margin-bottom: 30px

.map-zone
	padding-bottom: 5vh
	margin-bottom: 7vh
	margin-top: 5vh
	border-bottom:1px solid #ebebeb

.map-zone__row
	f()
	justify-content: space-between
	margin-bottom: 3vh

.map-zone__mark
	width: 40px

.map-zone__color
	size 20px
	round()
	margin-top: 10px

.map-zone__color--blue
	background: #68bba6

.map-zone__info
	width: calc(100% - 60px)

.map-zone__color--green
	background: #aed354

.map-zone__color--yellow
	background: #eec147

.map-zone__color--orange
	background: #ee7447

.map-zone__color--red
	background: #ee4748
//.map-zone__text

.page-open-modal
	padding-top: 0

@import "../module/**/*"
