/*! block module*/

.module-el
	width: 50%
	height: 100%
	background: white
	padding: 3.5%
	form
		width: 100%
		input
			width: 100%
			margin-bottom: 5%

.module__cont
	height: 100%
	transition all 1s
	transform translateX(200%)
	@extend .module-el


.module-reg
	width: 50%
	height: 100%

.module__cont--open
	transform translateX(0%)
	transition all 1s

.enter-foget__link
	@extend .link--main
	cp()

.enter-foget__get
	@extend .btn--md
	@extend .btn--green


.form-title
	text-align: center
	font-family Oswald
	@extend .type--lg
	font-weight 300
	margin-bottom: 10%

.enter-foget
	f()
	justify-content: space-between
	margin-bottom: 20%

.enter-soc__text
	@extend .type--main
	font-weight 400
	margin-right: 10%
	color black

.enter-soc
	flex(mid)
	padding: 5% 0
	border-top 1px solid $gray
	border-bottom 1px solid $gray
	margin-bottom: 30%

.veksel
	flex(mid)
	.icon
		size 25px
		fill $gray

.enter-account
	.veksel
		margin-bottom: 5%

.enter-account__text
	text-align: center
	span
		@extend .link--main
		cp()


.cart
	margin-bottom: 7%

.cart__row
	flex(between)
	padding: 25px 0
	border-bottom:1px solid $gray

.cart__name
	color #463e3c
	@extend .type--main
	width: 40%

.cart__cost
	font-weight:700

.cart__clear
	.icon
		&:hover
			opacity 1
		cp()
		size 18px
		opacity 0.5

.cart-total
	font-family Oswald
	@extend .type--lg
	font-weight 300
	text-align: center
	margin-bottom: 7%
	span
		color $red

.cart-get
	flex(mid)
	margin-bottom: 7%

.cart-get__el
	@extend .btn--md
	@extend .btn--green

.cart-info
	.veksel
		margin-bottom: 3%
.cart-info__text
	text-align: center

.cart-empty
	flex(mid)
	fl()
	margin-bottom: 7%

.cart-empty-get__el
	@extend .btn--md
	@extend .btn--light

.cart-empty__icon
	margin-bottom: 7%

.cart-empty--hide
	display: none

.reg-get
	flex(mid)
	margin-top: 7%

.reg-get__el
	@extend .btn--md
	@extend .btn--green

/*!block module end */