mixin module()
	//block module
	.module(data-module="enter")
		.module-auth.module__cont
			.form-title Вход
			form(action="#")
				input(type="text" placeholder="Ваше имя" )
				input(type="password" placeholder="Пароль")
				.enter-foget
					.enter-foget__link Забыли пароль?
					.enter-foget__get Войти
			.enter-soc
				.enter-soc__text Вход через соц.сети
				.soc-row
					a(href="#").soc-row__el.soc-row__el--vk
						+icon("soc-vk","icon")
					a(href="#").soc-row__el.soc-row__el--fb
						+icon("soc-facebook","icon")
					a(href="#").soc-row__el.soc-row__el--ok
						+icon("soc-ok","icon")
			.enter-account
				.veksel
					+icon("uzor","icon")
				.enter-account__text Нет аккаунта?
					span.get-module(data-module="reg") Зерегистрируйтесь
					
	.module(data-module="cart")
		.module-cart.module__cont
			.cart-empty.cart-empty--hide
				.cart-empty__icon
					+icon("cart-full","icon")
				.form-title Ваша корзина еще пуста.<br> Самое время для покупок!
				a(href="#").cart-empty-get__el Перейти в каталог
			.cart-full
				.form-title Ваша корзина
				.cart
					- for (var i=0;i<3;i++)
						.cart__row
							.cart__name Рокки Роутс #{i}
							.cart__icr
								+incr()
							.cart__cost 14580 р.
							.cart__clear
								+icon("close","icon")
				.cart-total Сумма:
					span 4 500 р.
				.cart-get
					.cart-get__el.get-module(data-module="order") Оформить заказ
			.cart-info
				.veksel
					+icon("uzor","icon")
				.cart-info__text Минимальная сумма заказа 500 р.
				.cart-info__text Принимаются к оплате VISA и MASTER CARD

	.module(data-module="reg")
		.module-reg.module__cont
			.form-title Регистрация
			form(action="#")
				input(type="text" placeholder="Ваше имя" )
				input(type="text" placeholder="Email или телефон" )
				input(type="password" placeholder="Пароль")
				input(type="password" placeholder="Повторите пароль")
				.reg-get.modal-get(data-modal="regTrue")
					.reg-get__el Зарегистрироваться

	.module(data-module="order")
		.module-order.module__cont
			.form-title Оформление заказа
			form(action="#")
				input(type="text" placeholder="Ваше имя" )
				input(type="text" placeholder="Tелефон" )
				.pay-type
					.pay-type__el
						label.style-label.style-label--radio
							input(type="radio" name="group" checked).sytle-input
							.sytle-input-element
								.icon-radio
							.sytle-input-text Наличными

					.pay-type__el
						+radio('По карте')
					.pay-type__el
						+radio('Онлайн')
				.tab
					.tab__el.tab__el--active(data-tab="self") С собой
					.tab__el(data-tab="deliver") Доставка
				.tab__cont(data-tab="self")
					p нет информации
				.tab__cont.tab__cont--hide(data-tab="deliver")
					select
						option
						option Москва
						option Волгоград
						option Екатеренбург
				.person
					.person__text Количество персон
					.person__incr
						.elements-icr-block
							.incr.incr--one
								.incr__minus.incr__nav.incr--one
									+icon("minus","icon")
								.incr__val
									span 1
									.incr__val-coner
								.incr__plus.incr__nav
									+icon("plus","icon")
				textarea(name="text", cols="30", rows="10" placeholder="Комментарий к заказу")
				.confirm
					.check-el
						label.style-label.style-label--checkbox
							input(type="checkbox").sytle-input
							.sytle-input-element
								+icon("checked","icon-check")
							.sytle-input-text Я даю согласие на
								a(href="#") хранение, обработку и использование своих персональных данных
				.order-get
					.order-get__el.modal-get(data-modal="orderTrue") Оформить заказ

	.module(data-module="item-description")
		.module-descript.module__cont
			.descript__cont
				.descript__col
					.item-info__image(style="background-image:url('img/item-info-img.jpg')")
				.descript__col.descript__col--item-description
					.item-info__content
						.item-info__content-close
							+icon("close-round","icon")
						.item-info__title Фирменные блинчики
						.veksel
							+icon("uzor","icon")
						.item-info__text Пицца соус, сыр моцарелла, сыр Фета, сыр дор блю, сыр пармезан, пепперони, салями, ветчина
						.el__info
							.el__weight 350 г.
							.el__devider
							.el__cost 480 р.
						.item-info__get Добавить к корзину
						.item-info__incr
							+incr(1)
						.soc-row
							a(href="#").soc-row__el.soc-row__el--vk
								+icon("soc-vk","icon")
							a(href="#").soc-row__el.soc-row__el--fb
								+icon("soc-facebook","icon")
							a(href="#").soc-row__el.soc-row__el--ok
								+icon("soc-ok","icon")

	.module(data-module="news-item")
		.module-descript.module__cont
			.descript__cont
				.descript__col
					.item-info__image(style="background-image:url('img/item-info-img.jpg')")
				.descript__col.descript__col--description
					.item-info__content-close
						+icon("close-round","icon")
					.item-info__content
						.item-info__title 1+1=3 или время пить фрукты!
						.veksel
							+icon("uzor","icon")
						.item-info__text
							p Лето наступает! 1 июня в сети ресторанов "ЕМ САМ" наступает ВРЕМЯ ПИТЬ ФРУКТЫ! "Sherbets Time!" Освежающие фруктовые щербеты на любой вкус! Ищите во всех ресторанах "ЕМ САМ".
							p Человек может не пить 3 дня. А может пить! Каждый день в сети ресторанов "ЕМ САМ" действует акция "1+1=3". За каждые две кружки фирменного пива "ЕМ САМ" третья - в подарок! ИЛИ при заказе 2-х кружек фирменного пива "ЕМ САМ" вы получите картофель фри в ПОДАРОК!
							p Лето наступает! 1 июня в сети ресторанов "ЕМ САМ" наступает ВРЕМЯ ПИТЬ ФРУКТЫ! "Sherbets Time!" Освежающие фруктовые щербеты на любой вкус! Ищите во всех ресторанах "ЕМ САМ".
							p Человек может не пить 3 дня. А может пить! Каждый день в сети ресторанов "ЕМ САМ" действует акция "1+1=3". За каждые две кружки фирменного пива "ЕМ САМ" третья - в подарок! ИЛИ при заказе 2-х кружек фирменного пива "ЕМ САМ" вы получите картофель фри в ПОДАРОК!

						.soc-row
							a(href="#").soc-row__el.soc-row__el--vk
								+icon("soc-vk","icon")
							a(href="#").soc-row__el.soc-row__el--fb
								+icon("soc-facebook","icon")
							a(href="#").soc-row__el.soc-row__el--ok
								+icon("soc-ok","icon")

	.module(data-module="menu")
		.module-descript.module__cont
			.descript__cont.descript__cont-module-menu
				.descript__col
					.item-info__content-close
						+icon("close-round","icon")
					.menu-info-cont
						.menu-title Меню ресторана
						.veksel
							+icon("uzor","icon")
						.menu-info-wrap
								-
									var items = [
										'Сеты',
										'Роллы',
										'Запечённые роллы',
										'Горячие роллы',
										'Закуски',
										'Бургеры',
										'Салаты',
										'Супы',
										'Хлеб',
										'Паста, лапша',
										'Пицца',
										'Блюда из курицы',
										'Блюда из свинины',
										'Блюда из мяса',
										'Блюда из рыбы',
										'Гарниры',
										'Десерты',
										'Чай и кофе',
										'Безалкогольные напитки',
										'Вот такие пироги!',
										'Соки, смузи',
										'Время пить фрукты!',
										'Алкогольные напитки',
										'Детское меню',
										'Бизнес-ланч'
										];
								each item in items
									a(href="#").menu-info__el #{item}

				.descript__col.descript__col--recomend
					.menu-recommed
						.line-title-wrap
							.line-title-el
							.line-title Рекомендуем
							.line-title-el
						.menu-recommed__title Пицца “Смак”
						.menu-recommed__text Пицца соус, сыр моцарелла, сыр Фета, сыр дор блю, сыр пармезан, пепперони, салями, ветчина
						.el__info
							.el__weight 350 г.
							.el__devider
							.el__cost 480 р.
						.menu-recommed__img(style="background-image:url('img/pizza.png')")

	.module(data-module="mobile-menu")
		.module-mobile-nav.module__cont
			.mobile-menu
				.mobile-menu__logo
					+icon("logo","icon")
				.mobile-menu__wrap
					.mobile-menu__el.mobile-menu-get-full.get-module(data-module="menu") Меню
					-
						var items = [
						'Акции',
						'Доставка',
						'Отзывы',
						'О нас'
						];
					each item in items
						a(href="#").mobile-menu__el #{item}



	.modal-layer
		.modal-cont
			.modal-filter
			.modal-wrap
				.modal(data-modal="orderTrue")
					.modal-content
						.modal-icon-head
							+icon("apple","icon")
						.modal-title Спасибо! <br> Ваш заказ принят :)
						.modal-text Вы можете проследить за ним <br> в личном кабинете
						.modal-btn.modal-close Хорошо
				.modal(data-modal="regTrue")
					.modal-content
						.modal-icon-head
							+icon("mail","icon")
						.modal-title Ура! Вы успешно <br>	зарегистрированы :)
						.modal-text Мы отправили письмо на Вашу почту
						.modal-btn.modal-close Хорошо
	//block module end