/*! block menu*/
.menu
	+below(1280px)
		width: 250px
	+below(1024px)
		display: none
	position: relative
	width: 385px
.menu-wrap
	+below(1280px)
		width: 250px
	+below(1024px)
		width: 100%
	position: fixed
	width: 385px
	height: 100%
	border-right:1px solid #e8d8d2
	fl()
	flex(mid)

.menu-cont
	fl()
	flex(mid)

.menu-logo
	size 45%
	margin-bottom: 5vh
	.icon
		size 100%

.menu-nav
	margin-bottom: 5vh
	flex(mid)
	fl()

.menu-nav__el
	+below(1280px)
		font-size: 14px
	@extend .type--md
	up()
	tr(all)
	br-animate(#4d342c,2px)
	cp()
	font-weight:700
	color #956c5f
	text-align: center
	margin-bottom: 3vh
	&:hover
		color #4d342c

.menu-info
	flex(mid)
	fl()

.menu-info-hr
	height: 1px
	width: 120%
	background: #e8d8d2
	margin-bottom: 3vh

.menu-phone
	margin-bottom: 10px

.menu-timework
	opacity 0.6
	margin-bottom: 3vh

.soc-row
	flex(mid)

.soc-row__el
	flex(mid)
	round()
	tr(all)
	border 1px solid $gray
	size 30px
	margin-right: 10px
	&:last-child
		margin-right: 0px
	.icon
		tr(all)
		size 12px
		fill $gray

.soc-row__el--vk
	&:hover
		border 1px solid #578ed0
		.icon
			fill #578ed0

.soc-row__el--fb
	&:hover
		border 1px solid #293c93
		.icon
			fill #293c93

.soc-row__el--ok
	&:hover
		border 1px solid #d99a34
		.icon
			fill #d99a34

.mobile-nav
	+above(1025px)
		display: none
	height: 58px
	background: white
	f()
	align-items: center
	position: fixed
	top 0
	left: 0
	width: 100%
	z-index 210
	box-shadow 0px 1px 3px #717171

.mobile-nav__toggle
	padding:0 15px
	cp()
	.icon
		size 25px

.mobile-nav__logo
	font-size: 16px
	font-weight 600
	color black

.mobile-nav__cart
	flex(mid)
	cp()
	size 58px
	.icon
		size 25px
	.icon.cart-open
		display: none

.mobile-nav__account
	flex(mid)
	cp()
	size 58px
	margin-left: auto
	.icon
		size 25px
	.icon.account-open
		display: none


.person__incr
	.incr
		margin-bottom: 0


.mobile-nav__account.get-module--active
	background: $red
	size 58px
	flex(mid)
	.icon.account-close
		display: none
	.icon.account-open
		display: block
		fill white!important
		size 25px

.mobile-nav__cart.get-module--active
	background: $red
	size 58px
	flex(mid)
	.icon.cart-close
		display: none
	.icon.cart-open
		display: block
		fill white!important
		size 25px

.mobile-nav__toggle
	size 58px
	flex(mid)
	margin-right: 10px
	.icon.menu-open
		display: none
	.icon.menu-back
		display: none
.mobile-nav__toggle.get-module--active
	background: $red
	size 58px
	flex(mid)
	.icon.menu-close
		display: none
	.icon.menu-open
		display: block
		fill white!important
		size 25px

.mobile-nav__toggle--back
	.icon.menu-open
		display: none
	.icon.menu-close
		display: none
	.icon.menu-back
		display: block
/*!block menu end */