mixin menu()
	//block menu
	.mobile-nav
		.mobile-nav__toggle.get-module(data-module="mobile-menu")
			+icon("menu","icon menu-close")
			+icon("close","icon menu-open")
			svg(class='icon menu-back get-module' data-module="mobile-menu")
				use(xlink:href="#arrow-left")
		a(href="/").mobile-nav__logo ЕмСам
		.mobile-nav__account.get-module(data-module="enter")
			+icon("account","icon account-close")
			+icon("close","icon account-open")
		.mobile-nav__cart.get-module(data-module="cart")
			+icon("cart","icon cart-close")
			+icon("close","icon cart-open")
	.menu
		.menu-wrap
			.menu-cont
				a(href="/").menu-logo
					+icon("logo","icon")
				.menu-nav
					.menu-nav__el.get-module(data-module="menu") Меню
					-
						var items = [
							'Акции',
							'Доставка',
							'Отзывы',
							'О нас'
							];
					each item in items
						a(href="#").menu-nav__el #{item}

				.menu-info
					.menu-info-hr
					a(href="tel:8 (3435) 21-10-10").menu-phone 8 (3435) 21-10-10
					.menu-timework с 10:00 до 24:00
					.soc-row
						a(href="#").soc-row__el.soc-row__el--vk
							+icon("soc-vk","icon")
						a(href="#").soc-row__el.soc-row__el--fb
							+icon("soc-facebook","icon")
						a(href="#").soc-row__el.soc-row__el--ok
							+icon("soc-ok","icon")
	//block menu end