include block_html/_style.pug
include block_html/_include.pug

.page
	+menu()
	.content
		.content-filter
		.content-wrap
			+module()
			.content-frame
				.content-frame__left.content-frame__col
					.item-info__image(style="background-image:url('img/item-info-img.jpg')")
				.content-frame__right.content-frame__col
					.item-info__content
						.item-info__title Фирменные блинчики
						.veksel
							+icon("uzor","icon")
						.item-info__text Пицца соус, сыр моцарелла, сыр Фета, сыр дор блю, сыр пармезан, пепперони, салями, ветчина

						.soc-row
							a(href="#").soc-row__el.soc-row__el--vk
								+icon("soc-vk","icon")
							a(href="#").soc-row__el.soc-row__el--fb
								+icon("soc-facebook","icon")
							a(href="#").soc-row__el.soc-row__el--ok
								+icon("soc-ok","icon")
	+toolbar()
+modal()

include ./block_html/_script.pug
