include block_html/_style.pug
include block_html/_include.pug

.page
	+menu()
	.content
		.content-filter
		.content-wrap
			+module()
			.news
				.news-wrap
					- for (var i=0;i<3;i++)
						.news-el.get-module(data-module="news-item")
							.news__img
								.news__img-el(style="background-image:url('img/tea.jpg')")
							.news__info
								.line-title-wrap
									.line-title-el
									.line-title 28 сентября
									.line-title-el
								.news__date
								.news__title 1+1=3 или время пить фрукты!
								.news__text С 19 января попробуй новые блюда нашего БРЕНД-ШЕФА! Побалуй свой вкус! СТЕЙКИ на любой вкус! ШЕФ РЕКОМЕНДУЕТ! Ждём в гости! С 26 апреля стартует новое специальное предложение от ресторана
						.news-el.get-module(data-module="news-item")
							.news__img
								.news__img-el(style="background-image:url('img/vok.jpg')")
							.news__info
								.line-title-wrap
									.line-title-el
									.line-title 28 сентября
									.line-title-el
								.news__date
								.news__title 1+1=3 или время пить фрукты!
								.news__text Не обязательно отправляться на дачу или в лес, чтобы встретиться за кружкой пива в узком кругу друзей… С 26 апреля стартует новое специальное предложение от ресторана «ЕМ САМ» - «СПЕЦИАЛЬНОЕ ПИВНОЕ МЕНЮ»! Отличные закуски к крафтовому пиву! Открой сезон крафта у нас!
				+footer()
	+toolbar()
+modal()

include ./block_html/_script.pug
