include block_html/_style.pug
include block_html/_include.pug

.page
	+menu()
	.content
		.content-filter
		.content-wrap
			+module()
			.main-page
				.main-page__first-section
					.main-page__first-section-descr(style="background-image:url('img/descr-section.jpg')")
						.work-desc-filter
						.work-desc
							.work-desc__title Работа в ЕмСам
							.work-desc-list
								.work-desc-list__el
									.work-desc-list__title 5 ресторанов
									.work-desc-list__text Уже открыто в г.Тагил
								.work-desc-list__el
									.work-desc-list__title 98 сотрудников
									.work-desc-list__text В нашем штате
								.work-desc-list__el
									.work-desc-list__title 40 000 рублей
									.work-desc-list__text Средняя заработная плата
							.work-desc-get.get-module(data-module="anket") Заполнить анкету
					.main-page__first-section-info
						.item-block
							.video
								.video-img(style="background-image:url('https://img.youtube.com/vi/yCR1iXLEyBY/maxresdefault.jpg')")
								iframe(src="https://www.youtube.com/embed/yCR1iXLEyBY?showinfo=0&controls=1&autohide=1" ).introVideo
								.video-layer
									.video-layer-cont
										.video-play
											+icon("play","icon")
										.video-title Светлана Иванова
										.video-work HR - Директор

						.item-slider.item-slider--review
							a(href="#").item-slider__link Все вакансии
							.item-slider__nav
								.item-slider__nav-prev
									+icon("arrow-left","slider-control")
								.item-slider__nav-next
									+icon("arrow-right","slider-control")
							.line-title-wrap.line-title-wrap--border
								.line-title-el
								.line-title Вакансии
								.line-title-el
							.item-slider__wrap.item-slider__wrap--full.owl-carousel
								- for (var i=0;i<2;i++)
									.item-slider__el
										.item-slider__info
											.item-slider_title Официант
											.item-slider_text Тебе нравится общение с людьми? Ты не боишься трудностей и мечтаешь о карьере в ресторанном бизнесе? Ты стремишься всегда быть в центре ярких событий? Тогда эта работа для тебя!

				.main-page__second-section
					.item-slider.item-slider--news
						a(href="#").item-slider__link Читать историю
						.item-slider__nav
							.item-slider__nav-prev
								+icon("arrow-left","slider-control")
							.item-slider__nav-next
								+icon("arrow-right","slider-control")
						.line-title-wrap.line-title-wrap--border
							.line-title-el
							.line-title Отзывы
							.line-title-el
						.item-slider__wrap.item-slider__wrap--full.owl-carousel
							- for (var i=0;i<2;i++)
								.item-slider__el
									.item-slider__info
										.item-slider__user
											.item-slider__user-img
												.item-slider__user-img-el(style="background-image:url('img/user.jpg')")
											.item-slider__user-content
												.item-slider__user-title Работник Ресторана
												.item-slider__user-text Иванова Евгения, 21 год
										.item-slider_text Добрый день. Спасибо большое всей команде вы превзошли все наши ожидания! Мало того что приготовили и привезли 8 пицц менее

					.item-block
						.item-block__img(style="background-image:url('img/pattern.png')")
						.filter.filter--green
						.agent
							.agent__wrap
								.agent__icon
									+icon("agent","icon")
								.agent__title Нам нужен тайный покупатель
								.agent__get.get-module(data-module="order") Заполнить анкету


				.restorans-events
					.events
						.line-title-wrap
							.line-title-el
							.line-title События ресторана
							.line-title-el
					.events-wrap
						- for (var i=0;i<2;i++)
							.events__el
								.events__head
									.events__date
										.events__date-nub 02
										.events__date-text Ноября
									.events__title Детские мастер-классы в ноябре
								.events__cont
									.events__text Дорогие родители, каждую субботу и воскресенье приглашаем вас на семейные обеды с детскими развивающими мастер-классами.
	+toolbar()
+modal()

include ./block_html/_script.pug
