// ============================ Curent color ============================

$green = #68baa5
$red = #ed4849
$gray = #dedede
$gray-dark = #8a7973
$black = #111111
$braun = #956c5f

$main-text-color = #463e3c
$link-color = #826a63
$link-color-visited = #543129
$link-color-hover = #543129


//  ============================ Typography ============================

//webfont('RUB', 'rouble-webfont', 'normal')
//Add fotn rub write .rub a - (a,b,c,d - change type font)

//webfont('PT Sans', 'PT Sans', 'normal')
webfont('Marck Script', 'MarckScript-Regular', 'normal')
webfont('Lato', 'Lato-Bold', 700)
webfont('Lato', 'Lato-Regular', 'normal')
webfont('Oswald', 'Oswald-Light', 300)
webfont('Oswald', 'Oswald-Regular', 'normal')

$v-font = 'Lato', sans-serif;

$weigh-light = 300
$weigh-normal = 400
$weigh-bold = 700

typeSize(fontSm,font)
	+below(768px)
		font-size font px
	font-size fontSm px

.type--xs
	typeSize(12,10)

.type--sm
	typeSize(14,12)

.type--main
	typeSize(15,13)

.type--md
	typeSize(16,14)
	color black

.type--lg
	typeSize(28,16)
	font-family Oswald
	font-weight 300
	color black

.type--xl
	typeSize(44,20)
	font-family Oswald
	font-weight 300
	color black

.type--bold
	font-weight bold

h1
	@extend .type--xl
h2
	@extend .type--lg
h3
	@extend .type--main
h4
	@extend .type--sm
h5
	@extend .type--xs

a
	color $link-color

.link--main
	color $link-color
	&:hover
		color #543129
		text-decoration: underline

.link--text
	color #543129



// ============================ Buttons ============================

btnStyle(bg-btn,color-btn)
	background bg-btn
	color color-btn
	border 1px solid color-btn
	&:hover
		background darken(bg-btn,20)
		color color-btn

btnStyleLight(br-btn,color-btn)
	color color-btn
	border br-btn solid color-btn
	&:hover
		color darken(color-btn,20)
		border br-btn solid darken(color-btn,20)

.btn
	br(3px)
	tr(all)
	display inline-block
	background none
	border 0
	color #726967
	font-weight 700
	&:hover
		cursor pointer

.btn--sm
	@extend .btn
	font-size 10px
	padding 5px 10px
	.nav-icon
		size 10px

.btn--md
	@extend .btn
	font-size 16px
	padding 20px 60px

.btn--lg
	@extend .btn
	font-size 20px
	padding 10px 30px

.btn--mobile
	@extend .btn
	+below(768px)
		width 100%
		text-align center

.btn--green
	@extend .btn
	color white
	background $green
	box-shadow inset 0 -2px 0 #398672
	.nav-icon
		fill white
	&:hover
		background-color #3da288
		box-shadow none
	&:active
		background-color #3da288
		box-shadow none
	input[type="submit"]
		border 0

.btn--disable
	@extend .disabled
	border 1px solid $gray
	background-color #ffffff
	color #000000

.btn--light
	@extend .btn
	border 1px solid $gray
	background-color #ffffff
	color gray
	&:hover
		border-color #614f4a
		color #614f4a
	.nav-icon
		fill #614f4a

.btn--icon
	flex(mid)

.nav-icon
	display inline-block
	size 20px
	margin 0 10px

button
	font-family $v-fon
// ============================ Inputs ============================

input,textarea,select
	border 0px
	padding 15px 20px
	border 1px solid #dedede
	resize: none
	outline: 0 !important
	border-radius 3px
	font-family $v-font
	display block!important
	margin-bottom 10px
	placeholder(rgba(0, 0, 0, 0.81))
	background: white
	tr(all)
	color black
	&:focus
		border 1px solid $green

.style-label
	display flex
	position relative
	align-items center


.style-label--disable
	@extend .disabled

.check-el
	input
		position absolute
		top 0
		left -9999px
	.sytle-input-element
		width 30px
		height 30px
		position relative
		display inline-block
		margin-right 10px
		background white
		border 1px solid #cfcfcf
		br(8px)
		cp()
		tr(all)
		&:hover
			border 1px solid #8d8d8d
	.icon-check
		display none
	.sytle-input
		&:checked + .sytle-input-element
			flex(mid)
			color white
			.icon-check
				display block
				fill #000000
				size 16px

.style-label--radio
	input
		position absolute
		top 0
		left -9999px
	.sytle-input-element
		width 22px
		height 22px
		position relative
		display inline-block
		margin-right 10px
		background white
		border 1px solid #cfcfcf
		round()
		cp()
	.icon-check
		display none
	.sytle-input
		&:checked + .sytle-input-element
			flex(mid)
			color white
			.icon-radio
				round()
				size 14px
				background blue;

