-
	pages = [
		{
		'name':'Элементы',
		'href':'elements'
		},
		{
			'name':'Главная',
			'href':'main'
		},
		{
		'name':'Новости',
		'href':'news'
		},
		{
		'name':'Каталог',
		'href':'catalog'
		},
		{
		'name':'Кабинет',
		'href':'cabinet'
		},
		{
		'name':'Доставка',
		'href':'delivery'
		},
		{
		'name':'Работа главная',
		'href':'work'
		},
		{
			'name':'Карьера',
			'href':'carrier'
		}
	]

