-
	pages = [
		{
		'name':'Элементы',
		'href':'elements'
		},
		{
			'name':'Главная',
			'href':'main'
		},
		{
		'name':'Новости',
		'href':'news'
		},
		{
		'name':'Каталог',
		'href':'catalog'
		},
		{
		'name':'Подробная',
		'href':'item'
		},
		{
		'name':'Новости подробная',
		'href':'news-item'
		},
		{
		'name':'Кабинет',
		'href':'cabinet'
		}
	]

